.wrapper {width: 100%; height: 2000px; _overflow: hidden; /*overflow: 거의 다 작성이 된 뒤에 살려주는 태그*/}

/* Section Style code */

section {width: 100%; height: auto;}/*섹션은 부모 구분용으로 쓰기도 함*/
section div.one-layout {width: 100%; height: 100px; background: #999;}
section div.three-layout {width: 100%; height: auto; display: flex; flex-wrap: wrap;}
section div.three-layout>div {width: 33.33%; height: 100px; border: 1px solid;}
section div.four-layout {width: 100%; height: auto; display: flex; flex-wrap: wrap;}
section div.four-layout>div {width: 25%; height: 100px; border: 1px solid;}

.rel{position: relative; display: flex; justify-content: space-between; align-items: center;}
.header {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 200px; z-index:999999; background-color: transparent; position: absolute; transition: all 0.5s;}
.fixed-nav {width: 100%; top: 0; left:0; height: 100px; position: fixed; background-color:rgba(255,255,255,0.8); box-shadow: 0 3px 7px rgba(0, 0, 0, 10%); z-index:99;} /*스크롤 이벤트 클래스 - box에 추가*/
.header .nav {display: flex; margin-right: 50px;}
.header .nav>li{position: relative; padding: 0 24px;}
.header .nav>li>a{font-size: 16px;}

.header .nav .submenu {opacity: 0; visibility: hidden; position: absolute; top: 30px; left: 0; width: 100%; height: auto; padding: 10px 0; background-color: #1a1a1a; border-radius: 5px; transition:all 0.4s}
.header .nav>li>a:hover +.submenu{opacity: 1; visibility: visible;}
.header .nav .submenu li {display: flex; flex-direction: column; align-items: center;}
.header .nav .submenu li a {padding: 5px 0; color: #888;}
.header .nav .line {border-left: 2px solid #999; margin: 0 10px;}
.header .nav .notice {display: flex;}
.header .nav .notice li {padding: 0 20px;}
.header .nav .notice li a{color:#888;}
.header .icon {display: flex;}
.header .icon .my {position: relative;}
.header .icon .my .submenu {opacity: 0; visibility: hidden; position: absolute; top: 30px; left: -50px; width: 400%; height: auto; background-color: #fff; border-radius: 5px; box-shadow: 0 1px 7px rgba(0, 0, 0, 10%); transition:all 0.4s}
.header .icon .my .submenu>li>a {padding: 5px 0; color: #888;}
.header .icon>li>a:hover +.submenu{opacity: 1; visibility: visible;}
.header .icon .my .submenu>li {padding: 10px;}
.header .icon .my .submenu>li>a {color: #888;}

.header .icon a{padding: 0 10px; display: block; text-align: center;}
.header .icon a i{font-size: 22px;}

.banner {width: 100%; height: auto;}
.slide {position: relative; width: 100%; height: 750px; background: #f9f1e9; padding-bottom: 80px; overflow: hidden;}
.slide .slide-img{width: 300%; height: 100%; display: flex; position: absolute; top: 0; left: 0;}
.slide .slide-img>a {width: 33.33%; height: 100%; _padding: 20px 0; position: relative;}
.slide .slide-img img {width:90%; _height: 100%; margin: auto;}
.slide .slide-img>a>.bannertxt1,.slide .slide-img>a>.bannertxt2,.slide .slide-img>a>.bannertxt3 {position: absolute; top:50%; left: 5%;}
.slide .slide-img>a>.bannertxt1,.slide .slide-img>a>.bannertxt3 {right: 10%; text-align: right;}
.slide .slide-img>a h2 {font-size: 24px; font-weight: 400;}
.slide .slide-img>a h4 {font-size: 12px; font-weight: 200; opacity: 0.4; letter-spacing: 2px; padding: 6px 0;}

.slide .dot {position: absolute; display: flex; bottom:20px; right: 50%;}
.slide .dot li {width: 11px; height: 11px; border-radius: 50%; background: transparent; border: 1px solid #888;}

.slide .dot li:nth-child(2) {margin: 0 5px;}
.slide .dot .dot-click {background: #333;}

/*Middle Contents CSS Style*/
.mid {width: 100%; height: auto; margin: 100px 0; }
.mid .mid-txt {opacity: 0; width: 100%; height: 100%;}

.fade-in {animation-name: fadeIn; animation-duration: 2s; animation-timing-function: ease-out;}

@keyframes fadeIn {
  0% {
    margin-top: 200px;
    _opacity : 0;
  }
  100%{
    margin: 0;
    opacity : 1;
  }
}

.mid .mid-txt p{width: 100%; height: 100%;  text-align: center;}
.mid .mid-txt p:nth-child(1) {font-size: 12px; font-weight: 300; letter-spacing: 0.12em; padding-top: 20px;}
.mid .mid-txt p:nth-child(2) {font-size: 34px; font-weight: 400; padding: 20px 0 30px 0;}
.mid .mid-txt p:nth-child(3) {font-size: 16px; font-weight: 300; color: #888; line-height: 30px;}
.mid .mid-txt p:nth-child(4) {font-size: 10px; font-weight: 300; color: #888; padding: 20px;}


.mid .mid-con {width: 100%; height: 100%; display: flex; margin: 90px 0 0 0; }
.mid .mid-con .each-mid {width: 33.33%; height: auto; margin: 0 8px;}

.mid .mid-con .each-mid a img {width: 100%; height: auto;}
.mid .mid-con .each-mid div {text-align: center;}
.mid .mid-con .each-mid div h2{font-size: 23px; font-weight: 300;}
.mid .mid-con .each-mid div h4 {font-weight: 300; padding: 10px 0; color: #888;}