@media screen and (max-width:1280px){
 .center {padding: 0 20px;}
 .header .nav>li {padding: 0 15px;}
 .header .nav>li>a {font-size: 14px;}
 .header .logo img {width: 85%;}
 .header .nav .notice li {padding: 0 15px;}
}

@media screen and (max-width:768px){
  section div.three-layout>div:nth-child(1){width: 50%;}
  section div.three-layout>div:nth-child(2){width: 50%;}
  section div.three-layout>div:nth-child(3){width: 100%;}
  section div.four-layout>div {width: 50%;}
}

@media screen and (max-width:510px){
  section div.three-layout>div:nth-child(1){width: 100%;}
  section div.three-layout>div:nth-child(2){width: 100%;}
  section div.three-layout>div:nth-child(3){width: 100%;}
  section div.four-layout>div {width: 100%;}
}